body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #000000; /* Black background color */
  color: #ffffff; /* White font color */
}

.container {
  margin: 20px;
  text-align: center;
  background-color: #222222; /* Dark grey container background color */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1); /* Optional: Add a shadow effect */
}

.text-box {
  width: 80%;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #aaaaaa; /* Grey input bar color */
  border: none;
  border-radius: 5px;
  color: #000000; /* Black font color inside input */
}

.button {
  background-color: #3498db;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.result {
  word-wrap: break-word; /* Ensures long URLs wrap within the container */
  max-width: 80%; /* Limits the width of the returned URL */
  margin: 10px auto; /* Centers the returned URL within the container */
  color: #ffffff; /* White font color for the returned URL */
}

.footer {
  margin-top: 20px;
  font-size: 14px;
  color: #cccccc; /* Light grey font color for footer */
}

.footer a {
  color: #ffffff; /* White font color for footer links */
  text-decoration: none; /* Remove underline from footer links */
}

.logo {
  width: 20px;
  height: 20px;
  margin-left: 5px;
  vertical-align: middle;
}
